<div *ngIf = "!(userPosts$ | async)">Loading...</div>
<mat-accordion>
        <mat-expansion-panel *ngFor="let post of userPosts$ | async">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{post.title}}
              </mat-panel-title>
            </mat-expansion-panel-header>
      
            {{post.body}}
      
            <br><br>
            <button mat-button (click) = "addLikes(post.id,post.likes)">LIKE {{post.likes}}</button>
            <button mat-raised-button color="primary" routerLink="/comments/{{post.id}}"></button>
            <button class="savebutton" mat-raised-button color="accent" (click)="deletePost(post.id)">Delete</button>
      
        </mat-expansion-panel>
      
      </mat-accordion>