<mat-accordion>
  <mat-expansion-panel *ngFor="let post of Posts$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Post #{{post.id}}: {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      {{post.body}}

      <br><br><button mat-raised-button color="primary" routerLink="/comments/{{post.id}}"
        routerLinkActive="active">Comments</button>
      <button class="savebutton" mat-raised-button color="accent" (click)="onSubmit(post)">Save</button>

  </mat-expansion-panel>

</mat-accordion>