
<mat-accordion>
    <mat-expansion-panel *ngFor = "let comment of Comments$">
      
      <mat-expansion-panel-header *ngIf="comment.postId == postId">
        <mat-panel-title>
      Comment By: {{comment.name}}
        </mat-panel-title>
      </mat-expansion-panel-header > 
      
      {{comment.body}} 
    </mat-expansion-panel>
  </mat-accordion>
  